*/.vscode/launch.json
*/.vscode/tasks.json
bin/
obj/
node_modules
dist/
out/
*/Upload
/client-app/admin-web/.vs/admin-web
client-app/admin-web/.vs/ProjectEvaluation/admin-web.metadata.v7.bin
client-app/admin-web/.vs/ProjectEvaluation/admin-web.projects.v7.bin