*/.vscode/launch.json
*/.vscode/tasks.json
bin/
obj/
node_modules
dist/
out/
*/Upload
*/*/.vs/admin-web
*/*/.vs/ProjectEvaluation/admin-web.metadata.v7.bin
*/*/.vs/ProjectEvaluation/admin-web.projects.v7.bin
*/*/maxCloneCount.txt
