@{
    ViewData["Title"] = "Users";
    ViewData["useDataTable"] = true;
}
<div class="mb-3">
    <a class="btn btn-success" asp-action="create" asp-controller="users">
        <i class="bi bi-plus-circle"></i>
        Create
    </a>
</div>
<div class="row">
    <table id="tbUsers" class="table table-striped table-bordered table-responsive" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Customer</th>
                <th>Roles</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@section PageScripts {
    <script>
        var dtTable;
        $(document).ready(function () {
            dtTable = $("#tbUsers").on('xhr.dt', function (e, settings, json, xhr) {
                return true;
            }).DataTable({
                "serverSide": true,
                "processing": true,
                "filter": true,
                "searching": false,
                "orderMulti": false,
                "pageLength": 15,
                "lengthMenu": [15, 30, 50],
                "ajax": function (data, callback, settings) {
                    $.ajax({
                        url: "@Url.Action("getUsers")",
                        data: {
                            skip: data.start,
                            limit: data.length
                        },
                        success: (res, textStatus, xhr) => {
                            callback({
                                data: res.list,
                                recordsTotal: res.total,
                                recordsFiltered: res.total
                            });
                        },
                        error: (xhr, status, err) => {
                            alert(`[${xhr.status}] ${xhr.responseJSON.error}`);
                        }
                    });
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "id", "autoWidth": true },
                    { 
                        "data": "username",
                        "name": "Name",
                        "autoWidth": true,
                        "render": function (data, type, row) { 
                            return "<span class='" + (row.isLocked ? "text-danger" : "") + "'>" + data + "</span>";
                        }
                    },
                    { "data": "email", "autoWidth": true },
                    { "data": "customerName", "autoWidth": true },
                    { "data": "roles", "autoWidth": true },
                    {
                        "render": function (data, type, row, meta) { return '<a class="btn btn-info" href="/Users/Edit/' + row.username + '">Edit</a>'; }
                    },
                    {
                        "data": "isLocked",
                        "render": function (data, type, row) {
                            return data ? 
                                "<a href='#' tilte='Unlock' class='btn btn-circle btn-secondary' onclick=onUnlockUser('" + row.username + "'); ><i class='bi bi-unlock'></i></a>"
                                : "<a href='#' title='Lock' class='btn btn-circle btn-danger' onclick=onLockUser('" + row.username + "'); ><i class='bi bi-lock'></i></a>";
                        }
                    },
                ]

            });
        });

        function onLockUser(username) {
            if (confirm("Are you sure you want to lock user " + username + "?")) {
                LockUser(username, true);
            } else {
                return false;
            }
        }

        function onUnlockUser(username) {
            if (confirm("Are you sure you want to unlock user " + username + "?")) {
                LockUser(username, false);
            } else {
                return false;
            }
        }

        function LockUser(username, locked) {
            var url = '@Url.Action("LockUser", "Users")';
            $.post(url, { username, locked }, function (data) {
                oTable = $('#tbUsers').DataTable();
                oTable.draw();
            }).fail((xhr, status, err) => {
                alert(`[${xhr.status}] ${xhr.responseJSON.error}`);
            });
        }

    </script>
}
