footer.border-top {
    border-top-color: #c1c1c1 !important;
    font-size: 12px !important;
    text-align: center;
}

body {
    background-color: #e3e3e3;
    --bs-body-font-size: 14px;
    --bs-body-font-family: Arial;
}

body .btn {
    font-size: var(--bs-body-font-size);
}

body #contentWrapper {
    padding: 10px;
    font-size: 14px;
}