body {
    font-size: 14px;
}

.bg-login-image {
    background-image: url("imgs/app-bg.jpg");
    background-position: center;
    background-size: cover;
}

.bg-main {
    background-color: #756a77;
    background-image: linear-gradient(180deg, #756a77 10%, #252126 100%);
    background-size: cover;
}

.btn {
    font-size: 14px;
}

.btn-primary {
    color: #fff;
    background-color: #756a77;
    border-color: #756a77;
}

    .btn-primary:hover {
        background-color: #6a6c72;
        border-color: #9d90a0;
    }

.dropdown-menu.dropdown-menu-right {
    right: 0;
    left: auto;
}

.cursor-pointer {
    cursor: pointer;
}